/* =============== google fonts =============== */

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// font-family: "Libre Baskerville", serif;
// font-family: "Lato", sans-serif;
// font-family: "Bangers", system-ui;

/* =============== Base Styles =============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* =============== pre-define css =============== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  margin-bottom: 0;
}

h3,
h4 {
  font-size: 1.8rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  margin: 0;
  list-style: none;
}

.section_title {
  color: rgb(3, 3, 72);
  font-weight: 700;
  font-size: 2rem;
}

.section_subtitle {
  color: rgb(149, 96, 12);
  font-weight: 700;
  font-size: 1.2rem;
}

.section_description {
  color: black;
  font-size: 0.9rem;
  line-height: 20px;
}

section {
  padding: 50px 0;
}

.btn {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 10px 0 10px 0;
  background: #333;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background: black;
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  section {
    padding: 30px 0px;
  }

  .section_title {
    font-size: 1.6rem;
  }

  .section_subtitle {
    font-size: 1.1rem;
  }
}
